doctype html
html
  head
    title Paleo-Ninja
    link(rel="stylesheet",type="text/css",href="/css/styles.css")
    link(rel="stylesheet",type="text/css",href="/css/index.css")
    link(rel="icon", href="favicon.ico")
  body
    .paleo-ninja
      span#paleo Paleo
      span#dash -
      span#ninja Ninja
    .form
      form.username-form(action='http://127.0.0.1:3000/dino-match' method='post')
        input.username-input(name='username' type='text' placeholder='Enter your Fortnite username...')
        input#go-button(type='submit' value='Find my Dino!')
    p.result
      | #{e1}
      br
      | #{e2}
      br
      | #{e3}
      br
      | #{e4}
      br
      | #{e5}
