doctype html
html
  head
    title Paleo-Ninja
    link(rel="stylesheet",type="text/css",href="/css/styles.css")
    link(rel="stylesheet",type="text/css",href="/css/index.css")
    link(rel="icon", href="favicon.ico")
  body
    a#sitename(href="http://127.0.0.1:3000")
      .paleo-ninja(href="http://127.0.0.1:3000")
        span#paleo Paleo
        span#dash -
        span#ninja Ninja
    .form
      form.username-form(action='http://127.0.0.1:3000/dino-match' method='post')
        input.username-input(name='username' type='text' placeholder='Enter your Fortnite username...')
        input#go-button(type='submit' value='Find my Dino!')
    br
    br
    br
    h1#prevResults Previous Dino Matches Include...
    table#resultsTable
      tbody
        tr
          th#playerCol Player
          th#winsCol Wins
          th#dinoCol Dinosaur
          th#eatCol Eating Habits
        tr
          td= e0.pro
          td= e0.wins
          td.dinoData= e0.dino
          td.dinoData= e0.eatingHabits
        tr
          td= e1.pro
          td= e1.wins
          td.dinoData= e1.dino
          td.dinoData= e1.eatingHabits
        tr
          td= e2.pro
          td= e2.wins
          td.dinoData= e2.dino
          td.dinoData= e2.eatingHabits
        tr
          td= e3.pro
          td= e3.wins
          td.dinoData= e3.dino
          td.dinoData= e3.eatingHabits
        tr
          td= e4.pro
          td= e4.wins
          td.dinoData= e4.dino
          td.dinoData= e4.eatingHabits
